<header>
  <!-- Carousel -->
  <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://picsum.photos/1200/300?random=1" class="d-block w-100" style="height:150px; object-fit:cover;">
      </div>
      <div class="carousel-item">
        <img src="https://picsum.photos/1200/300?random=2" class="d-block w-100" style="height:150px; object-fit:cover;">
      </div>
      <div class="carousel-item">
        <img src="https://picsum.photos/1200/300?random=3" class="d-block w-100" style="height:150px; object-fit:cover;">
      </div>
    </div>
  </div>

  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="index.html">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTR4UK4gB5iIOdS5784EgJBfIxmJKEs084B2w&s" alt="NF Academy Logo" width="30" height="30" class="d-inline-block align-text-top me-2">
      NF Academy</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>
          <li class="nav-item"><a class="nav-link" href="study.html">Study</a></li>
          <li class="nav-item"><a class="nav-link" href="gallery.html">Gallery</a></li>
          <li class="nav-item"><a class="nav-link" href="datatables.html">Data</a></li>
          <li class="nav-item"><a class="nav-link" href="login.html">Login</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
