<div class="card shadow-sm h-100">
  <div class="card-header bg-primary text-white">
    <h5 class="mb-0">Useful Links</h5>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><a href="https://nfacademy.id" target="_blank">NF Academy</a></li>
    <li class="list-group-item"><a href="https://www.nurulfikri.ac.id" target="_blank">Nurul Fikri</a></li>
    <li class="list-group-item"><a href="https://www.education.com" target="_blank">Education</a></li>
    <li class="list-group-item"><a href="https://www.freecodecamp.org" target="_blank">FreeCodeCamp</a></li>
    <li class="list-group-item"><a href="https://www.w3schools.com" target="_blank">W3Schools</a></li>
  </ul>
</div>
